In [2]:
import numpy as np
aa = np.array([[1, 2], [3, 4]])

In [3]:
aa

array([[1, 2],
       [3, 4]])

In [4]:
len(aa)

2

In [5]:
aa[0, 0]

1

In [7]:
ll = [1, 2]

In [8]:
ll*2

[1, 2, 1, 2]

In [9]:
wert in ll *2

NameError: name 'wert' is not defined

In [10]:
bb = []

In [12]:
for wert in ll:
    bb.append(wert*2)

In [22]:
bb

[2, 4]

In [15]:
sum(bb)

6

In [17]:
bb * bb

TypeError: can't multiply sequence by non-int of type 'list'

In [19]:
cc = [3, 4]

In [20]:
bb * cc

TypeError: can't multiply sequence by non-int of type 'list'

In [30]:
aa = np.array([[1, 2], [3, 4]])
print(aa)

[[1 2]
 [3 4]]

In [25]:
ll = []
for werte in aa:
    ll.append(werte)

In [26]:
ll

[array([1, 2]), array([3, 4])]

In [29]:
aa.transpose()

array([[1, 3],
       [2, 4]])

In [32]:
aa.tolist()

[[1, 2], [3, 4]]

In [33]:
aa = np.array([[1, 1], [2, 2], [3, 3]])

In [34]:
aa

array([[1, 1],
       [2, 2],
       [3, 3]])

In [36]:
aa.transpose()

array([[1, 2, 3],
       [1, 2, 3]])